<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
      <add name="EcfSqlConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=dbEPiFlisekompanietCommerce;User ID=dbUserEPiFlisekompaniet;Password=J!gVt%8EJswG@-75;Application Name=FlisekompanietCommerceManager" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>